{% extends "../layout.twig" %}

{% block header %}
    {% include '../header.twig' with {'title':title}%}
{% endblock %}

{% block body %}
    {% if routes == '' %}
        <h4>Add some resources</h4>
        <br/>
    {% else %}
    <h3>List of resources</h3>
    {% if reqmessage is defined %}
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success : </strong> {{ reqmessage }}
        </div>
    {% endif %}
    <div class ="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>URI</th>
                <th>Type</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
                <td><code style = "background-color:#292B36;color:#ffffff;">{{ route.uri }}</code></td>
                {% if route.method == "get" %}
                    <td><span style = "text-transform: uppercase;cursor:default;" class="btn btn-sm btn-success">{{ route.method }}</span></td>
                {% elseif route.method == "post" %}
                    <td><span style = "text-transform: uppercase;cursor:default;" class="btn btn-sm btn-primary">{{ route.method }}</span></td>
                {% else %}
                    <td><span style = "text-transform: uppercase;cursor:default;" class="btn btn-sm btn-danger">{{ route.method }}</span></td>
                {% endif %}
                <td>{{ route.detail.shortDescription }}</td>
                <td>
                    <div class="btn-group">
                        <button data-target="#updateRouteModal-{{ route.id }}" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button data-target="#detailsRouteModal-{{ route.id }}" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
                        <button data-target="#deleteRouteModal-{{ route.id }}" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <button style = "font-family:Helvetica Neue, Helvetica, Arial, sans-serif" class="btn btn-default" data-toggle="modal" data-target="#addRouteModal">
        <span class="glyphicon glyphicon-plus"></span> Add route
    </button>

    <!-- MODALS BLOC -->
    {% include "../models/apidocs/new.twig" with {'id':'addRouteModal'} %}
    {% include "../models/authentication/login.twig" with {'id':'login'} %}

    {%  for route in routes %}
        {% include "../models/apidocs/update.twig" with {'id':'updateRouteModal', 'route':route} %}
        {% include "../models/apidocs/delete.twig" with {'id':'deleteRouteModal', 'route':route} %}
        {% include "../models/apidocs/details.twig" with {'id':'detailsRouteModal', 'route':route} %}
    {% endfor %}

    <!-- END OF MODALS BLOC -->
{% endblock %}

{% block footer %}
    {% if reqmessage is defined %}
        <script>
            $(document).ready(function(){$('#modalMessage').modal('show');});
        </script>
    {% endif %}
    {% include '../footer.twig' with {'title':title}%}
{% endblock %}