{% extends "../layout.twig" %}

{% block header %}
    {% include '../header.twig' with {'title':title}%}
{% endblock %}

{% block body %}
    <h3>Public</h3>
    <div class ="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>URI</th>
                <th>Type</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
                <td>{{ route.uri }}</td>
                <td style = "text-transform: uppercase;">{{ route.method }}</td>
                <td>{{ route.detail.shortDescription }}</td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                        <button data-target="#deleteRouteModal-{{ route.id }}" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
    <button style = "font-family:Helvetica Neue, Helvetica, Arial, sans-serif" class="btn btn-default" data-toggle="modal" data-target="#addRouteModal">
        <span class="glyphicon glyphicon-plus"></span> Add route
    </button>

    <!-- MODALS BLOC -->
    {% include "../forms/apidocs/new.twig" with {'id':'addRouteModal'} %}

    {%  for route in routes %}
        {% include "../forms/apidocs/delete.twig" with {'id':'deleteRouteModal', 'route':route} %}
    {% endfor %}

    {% if reqmessage is defined %}
        <div class="modal fade in" id="modalMessage">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                    </div>
                    <div class="modal-body">
                        <p>Ressource {{ reqmessage }} inserted</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- END OF MODALS BLOC -->
{% endblock %}

{% block footer %}
    {% if reqmessage is defined %}
        <script>
            $(document).ready(function(){
                $('#modalMessage').modal('show');
            });
        </script>
    {% endif %}
    {% include '../footer.twig' with {'title':title}%}
{% endblock %}